@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: theme('colors.background');
  --color-text: theme('colors.gray.100');
  --color-primary: theme('colors.primary.500');
  --color-accent: theme('colors.accent.500');
  --font-family-sans: theme('fontFamily.sans');
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: theme('colors.secondary.900'); /* Başlık rengini beyaz */
  font-weight: theme('fontWeight.bold');
}

a {
  color: var(--color-primary);
  text-decoration: underline;
}

a:hover {
  color: theme('colors.secondary.900');
}